<footer class="footer">
    <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
    <ul class="list-inline">
        <li class="foot"><img src="/Deisy.png" alt=""><a>Deisy Cañon</a></li>
        <li class="foot"><img src="/Jorge.png" alt=""><a>Jorge Ricardo</a></li>
        <li class="foot"><img src="/Ivan.png" alt=""><a>Ivan Navarrete</a></li>
        <li class="foot"><img src="/Carlos.png" alt=""><a>Carlos Soler</a></li>
        <li class="foot"><img src="/William.png" alt=""><a>William Mora</a></li>
    </ul>
    <br>
    <p class="copyright">CRM Grupo 3 © 2021. Todos los derechos reservados</p>
</footer>
</body>
</html>
